@model Beltek66.HelloMvc.Models.Ders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ders Kayıt Ekleme</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DersAd" class="control-label"></label>
                <input asp-for="DersAd" class="form-control" />
                <span asp-validation-for="DersAd" class="text-danger"></span>
            </div>
              <p> </p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
  <p> </p>
<div>
    <a class="link-secondary" asp-action="Index">Back to List</a>
</div>

