@model Beltek66.HelloMvc.Models.Sinif

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sınıf Bilgileri</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinifAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinifAd)
        </dd>
    </dl>
</div>
<div>
    <a class="link-warning" asp-action="Edit" asp-route-id="@Model.SinifId">Edit</a> |
    <a class="link-secondary" asp-action="Index">Back to List</a>
</div>
