@model Sinif
@{
    ViewData["Title"] = "Ogrenciler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Öğrenciler</h1>

<div class="row">
<div class="col-md-4">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SinifId" />
        <div class="form-group">
            <label asp-for="SinifAd" class="control-label"></label>
            <input asp-for="SinifAd" class="form-control" disabled/>
            <span asp-validation-for="SinifAd" class="text-danger"></span>
        </div>
             <p> </p>
        <div class="form-group">
            <label class="control-label">Öğrenciler</label>
            <table>
                <tbody>
                    @{ int i = 0;}
                    <tr>
                        @foreach (var ogr in @Model.Ogenciler)
                        {
                            <td>
                               <input type="hidden" name="ogr[@i].OgrenciId" asp-for="@ogr.FullName" class="form-control" disabled/>
                               <input type="text" name="ogr[@i].ogr.FullName" asp-for="@ogr.FullName" class="form-control" disabled/>
                              
                            </td> 
         
                            i++;
                        }
                    </tr>
                </tbody>
            </table>
        </div>
     
    </form>
</div>
</div>
<p> </p>
<div>
   <a class="link-secondary" asp-action="Index">Back to List</a>
</div>