@model Ogrenci
@{
    ViewData["Title"] = "OgrenciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OgrenciEkle</h1>
@*<form action ="/Ogrenci/OgrenciEkle" method="post">*@
<form asp-controller="Ogrenci" asp-action="OgrenciEkle" method="post"> @* etiket yardımcıları tag-helper*@
    <div class="mb-3">
    <label for="Ad" class="form-label">Ad:</label>
     @* <input class="form-control" type="text" name="Ad" id="Ad" />*@
    <input class="form-control" type="text"  asp-for="Ad" />
    </div>
    <div class="mb-3">
    <label class="form-label">Soyad:</label>
@*    <input class="form-control" type="text" name="Soyad" id="Soyad" />*@
    @Html.TextBoxFor(o=>o.Soyad,new{@class="form-control"}) @*html-helper iis render yapıyor html ye çeviriyor*@
    </div>
    <div class="mb-3">
    <label class="form-label">Yaş:</label>
    <input class="form-control" type="number" name="Yas" id="Yas" />
    </div>
    <input type="submit" value="Kaydet" class="btn btn-outline-success" />


</form>


