@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Okul Kayıt Sistemine Hoşgeldiniz</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/MAC52_UNI_RANKINGS_GRADES_AND_MORE_POST04.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="/images/pic_LG_classroom-1200x480.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/images/lecture.jpg" class="d-block w-100">
    </div>
     <div class="carousel-item">
      <img src="/images/pic_LG_classroom-1200x480.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/images/ersnoru6gc_w768.jpg" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
